{% extends 'base.twig' %}

{% block content %}
    <section>
        <div class="homesection">

            <h2>Rooms:</h2>
            {#<p>#}
                {#<a href="/chat/{{ oneRoom.id }}"><b>{{ oneRoom.name }}:</b></a> {{ oneRoom.description }}#}
            {#</p>#}
            {#<hr/>#}

            <ul class="rooms">
                {% for room in rooms %}
                    <li>
                        <a href="/chat/{{ room.id }}"><b>{{ room.name }}:</b></a> {{ room.description }}
                    </li>
                {% else %}
                    There are no rooms!
                {% endfor %}
            </ul>
            {#<hr/>#}
            <br/>
            <h2>Create Room</h2>
            <br/>
            <form id="roomsForm" action="/room/create" method="post">
                <input id="roomsName" type="text" name="name" placeholder="Room name"><br/>
                <input id="roomsDesc" type="text" name="description" placeholder="Description"><br/>
                <button type="submit">Create</button>
            </form>

            <div class="tutorial"></div>
        </div>
    </section>
{% endblock %}